<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario" (ngSubmit)="cambiarContrasena()">
    <ion-item>
      <ion-label position="stacked">Nueva contraseña</ion-label>
      <ion-input type="password" formControlName="nuevaContrasena"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar contraseña</ion-label>
      <ion-input type="password" formControlName="confirmarContrasena"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="formulario.invalid">
      Guardar
    </ion-button>
  </form>

</ion-content>